# OSX
#
.DS_Store

# node.js
#
node_modules
npm-debug.log
yarn-error.log
junit.xml
test-report.xml
.eslintcache

# Others
#
trash

\.vscode/
\.vs/

# confluent-schema-registry
#
tmp
dist
release

# website
#
build
*.swp
*~
