.DS_Store
test-report.xml
junit.xml
coverage/
yarn-error.log
yarn.lock
**/*.spec.js
__tests__
__snapshots__
fixtures
declarations/
docs/
pipeline/
website/
docker-compose.yml
docker-compose.*.yml
jest.config.js
jest.setup.js
.prettierrc
.prettierignore
.eslintrc.js
.eslintignore
.travis.yml
azure-pipelines.yml
*.png
*.svg
*.tgz
.vscode/
.tsconfig.json
*.swp
*~
